<?xml version="1.0" encoding="utf-8" ?>
<logs>
    <!-- info内容，先缓存到一定10条，再一次性输出 -->
    <info prefix="INFO" flag="">
        <buffer size="100">
            <rotate prefix="info-" dir="./testdata/" size="5M" />
        </buffer>
    </info>

    <!-- debug日志 -->
    <debug>
        <buffer size="5">
            <rotate dir="./testdata/debug/" size="5M" />
        </buffer>
    </debug>

    <trace>
        <buffer size="5">
            <rotate dir="./testdata/trace/" size="5M" />
        </buffer>
    </trace>

    <warn>
        <rotate dir="./testdata/warn/" size="5M" />
    </warn>

    <error>
        <console output="stderr" foreground="red" background="blue" />
        <rotate dir="./testdata/error/" size="5M" />
    </error>

    <critical>
        <console output="stderr" foreground="red" />
        <smtp username=".." password="pwd" host="smtp.example.com" subject="error" sendTo="abc@example.com;abc1@example.com" />
        <rotate dir="./testdata/critical/" size="5M" />
    </critical>
</logs>
