# logs.yml

items:
  debug:
    attrs:
      prefix: DEBUG
    items:
      buffer:
        attrs:
          size: 5
        items:
          rotate:
            attrs:
              prefix: debug-
              size: 5M
              dir: ./testdata/
  trace:
    items:
      buffer:
        attrs:
          size: 5
        items:
          rotate:
            attrs:
              prefix: trace-
              size: 5M
              dir: ./testdata/

  warn:
    items:
      rotate:
        attrs:
          prefix: info-
          dir: ./testdata/
          size: 5m

  error:
    items:
      console:
        attrs:
          output: stderr
          foreground: red
          background: blue
      stmp:
        attrs:
          username: ".."
          password: pwd
          host: stmp.example.com
          subject: error
          sendTo: abc@example.com;abc1@example.com
      rotate:
        attrs:
          prefix: error-
          dir: ./testdata/
          size: 5m

  critical:
    items:
      console:
        attrs:
          output: stderr
          foreground: red
          background: blue
      stmp:
        attrs:
          username: ".."
          password: pwd
          host: stmp.example.com
          subject: error
          sendTo: abc@example.com;abc1@example.com
      rotate:
        attrs:
          prefix: critical-
          dir: ./testdata/
          size: 5m
